@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background-color: #ffddda;
}

#titulo-principal {
    font-family: "Cookie", cursive;
    text-align: center;
    color: #c06b62;
    font-size: 50px;
}

#texto-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #582d28;
}
    .container {
      display: flex;
      align-items: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #582d28;
}

ol {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #582d28;
}